/* jost-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Jost';
}

nav {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.273);
    /* position: fixed; */
    width: 100%;
    height: 70px;
    line-height: 65px;
}

li {
    list-style: none;
}

li a {
    color: black;
    text-decoration: none;
}

nav .main-header {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;

}

.nav-links {
    display: flex;
    font-size: 18px;
}

.nav-links li {
    padding-right: 30px;
}

.navs {
    display: flex;
    font-size: 18px;
    gap: 30px;
}

.drop-menu {
    position: absolute;
    background-color: white;
    top: 70px;
    padding: 15px 100px 15px 30px;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
}

.drop-menu li {
    line-height: 45px;
}

.nav-links li:hover .drop-menu {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.main-drop {
    position: absolute;
    top: 70px;
    font-size: 15px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
}

.nav-links li:hover .main-drop {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.main-drop .main {
    width: 100%;
    background-color: white;
}

.main-drops {
    display: flex;
    gap: 40px;
    line-height: 45px;
}

.main {
    padding: 40px 20px;
}

.main-drops {
    margin-left: 140px;
}

.main-drop01 {
    margin-left: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
    width: 62%;
}

.main-image01 {
    height: 260px;
    width: 580px;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
    position: relative;
}

.main-image02 img {
    position: absolute;
    width: 60%;
    height: 500px;
    top: -210px;
    right: 0;
}

.image-text {
    position: absolute;
    right: 45%;
    top: 30%;
}

.discover {
    border-bottom: 1px solid black;
    line-height: 25px;
    width: 90px;
    transition: 0.4s;
}

.discover:hover {
    border-bottom: 1px solid skyblue;
}

.black {
    border: 1px solid black;
    background-color: black;
    border-radius: 30px;
    padding: 1px 8px;
    color: white;
}

.khakhi {
    border: 1px solid burlywood;
    padding: 1px 8px;
    background-color: burlywood;
    border-radius: 30px;
    color: white;
}

.tomota {
    border: 1px solid tomato;
    padding: 1px 8px;
    background-color: tomato;
    border-radius: 30px;
    color: white;
}

.blue {
    border: 1px solid rgb(65, 133, 160);
    padding: 1px 8px;
    background-color: rgb(65, 133, 160);
    border-radius: 30px;
    color: white;
}

.sub-shop {
    display: flex;
    margin-left: 140px;
    padding: 20px 10px;
    gap: 90px;
}

.sub-shops {
    display: flex;
    line-height: 45px;
    gap: 70px;
}

.shop01 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.118);
}

.main-product {
    display: flex;
    margin-left: 140px;
    gap: 40px;
}

.product {
    line-height: 35px;
    margin-top: 15px;
}

.border-hrd {
    border-bottom: 1px solid rgba(0, 0, 0, 0.153);
}

.menu-image {
    margin-top: 30px;
}

.menu-image01 img {
    height: 260px;
    width: 550px;
}

.menu-image {
    position: relative;
}

.menu-text {
    position: absolute;
    right: 45%;
    top: 26%;
}

.pages {
    padding-top: 70px;
}

.terms {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.338);
}

.h4 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}

.text026 {
    color: gray;
}

.text016 {
    font-size: 30px;
}

.text017 a {
    color: black;
    text-decoration: none;
    transition: .10s;
}

.text017 a:hover {
    text-decoration: underline;
}

.text017 {
    padding-bottom: 10px;
}

.text018 {
    justify-content: center;
    display: flex;
    text-align: center;
    gap: 30px;
}

.icon07 {
    border: 1px solid rgba(0, 0, 0, 0.196);
    padding: 10px 25px;
    color: rgba(0, 0, 0, 0.21);
    font-size: 20px;
    transition: .6s;
    border-radius: 100%;
}

.icon07:hover {
    color: rgb(44, 44, 44);
    border: solid 1px rgb(44, 44, 44);
}

.icon08 {
    border: 1px solid rgba(0, 0, 0, 0.196);
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.21);
    transition: .6s;
    border-radius: 100%;
    font-size: 20px;
}

.icon08:hover {
    color: rgb(44, 44, 44);
    border: solid 1px rgb(44, 44, 44);
}

.your input {
    width: 290px;
    padding: 20px;
}

.your1 {
    padding: 20px 30px;
    background-color: rgb(44, 44, 44);
    color: white;
}

.text019 {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(244, 244, 244);
    justify-content: space-around;
    padding-top: 20px;
}

.text020 {
    color: rgba(0, 0, 0, 0.526);
    text-decoration: none;
    display: flex;
    gap: 35px;
}

.text021 {
    color: rgba(0, 0, 0, 0.526);
    text-decoration: none;
    transition: .3s;
}

.text021:hover {
    color: black;
}

.text027 a {
    color: rgb(71, 158, 205);
    transition: .6s;
}

.text027 a:hover {
    color: black;
    text-decoration: underline;
}

.website {
    color: gray;
    text-decoration: none;
}

.main-flex {
    display: flex;
    gap: 40px;
}

.flex {
    border: 1px solid rgba(0, 0, 0, 0.179);
    padding: 20px 50px;
    /* margin-left: 9%; */
}

.main-flex {
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.flex a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    width: 100%;
}

.Discount {
    border: 1px solid rgba(0, 0, 0, 0.082);
    padding: 10px;
    font-weight: 900;
    color: gray;
}

.Discount01 {
    border: 1px solid rgba(0, 0, 0, 0.082);
    padding: 10px;
    color: gray;
}

.list li {
    list-style: disc;
    padding-top: 25px;
}

.list01 li {
    list-style: disc;
    color: gray;
    font-size: 18px;
}

.include input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.084);
}

.include textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.084);
}

.include button {
    width: 100%;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    background-color: rgb(44, 44, 44);
    transition: 0.5s ease-in;
}

.include button:hover {
    background-color: white;
    color: black;
}

.its li {
    list-style: disc;
    color: gray;
    padding: 10px 10px;
}

.text028 {
    color: gray;
    font-size: 20px;
}

.daily a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    transition: 0.5s ease-in;
    background-color: rgb(44, 44, 44);
}

.daily a:hover {
    background-color: white;
    color: black;
}